.drawer {
    z-index: 0;
    margin-top: 64px;
    .profile {
        cursor: default;
        @extend .grey, .lighten-2;
        &:hover {
            background-color: transparent;
        }
        .profile-bg {
            height: 200px;
        }
    }
	li.bold {
		&:hover {
			@extend .blue;
		}
		a {
			&:hover {
				color: color('grey', 'lighten-5');	
			}
		}
	}
    li.active {
        @extend .blue;
        a {
            color: color('grey', 'lighten-5');
        }
    }
}
